// SPDX-License-Identifier: GPL-2.0
/*
 * Google GS101 Board device tree source
 *
 * Copyright (c) 2020 Google, LLC
 *		https://www.google.com
 *
*/
#include <dt-bindings/pinctrl/samsung.h>
#include <dt-bindings/gpio/gpio.h>

&pinctrl_5 {
	ese1_spi_rst: ese1-spi-rst {
		samsung,pins ="gpp26-3";
		samsung,pin-con-pdn = <EXYNOS_PIN_PDN_PREV>;
		samsung,pin-pud-pdn = <EXYNOS_PIN_PULL_NONE>;
	};
};

&spi14_bus {
	samsung,pin-con-pdn = <EXYNOS_PIN_PDN_PREV>;
	samsung,pin-pud-pdn = <EXYNOS_PIN_PULL_NONE>;
};

&spi14_cs {
	samsung,pin-con-pdn = <EXYNOS_PIN_PDN_PREV>;
	samsung,pin-pud-pdn = <EXYNOS_PIN_PULL_NONE>;
};

&spi_14 {
	/* XAPC_USI14 */
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&spi14_bus &spi14_cs &ese1_spi_rst>;
	cs-gpios = <&gpp18 3 GPIO_ACTIVE_HIGH>;

	ese1: ese@0 {
		compatible = "st,st54spi";
		reg = <0>;
		spi-max-frequency = <8000000>;
		esereset-gpio = <&gpp26 3 GPIO_ACTIVE_HIGH>;
		power_mode = "ST54J";

		controller-data {
			cs-gpio = <&gpp18 3 GPIO_ACTIVE_HIGH>;
			cs-clock-delay = <10>;
			samsung,spi-chip-select-mode = <0>;
		};
	};
};
